body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Fira Sans", "Oswald", "Akshar";
}

.header, .footer {
  background-color: #1F2937;
  color: white;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
}

.header.logo {
  font-size: 20px;
  font-weight: bolder;
}

.header-links, .header-links a {
  list-style: none;
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 14px;
  gap: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
  width: 100%;
  height: 2.5rem;
}

.container.section1 {
  display: flex;
  background-color: #1F2937;
  padding: 80px;
  padding-right: 200px;
  justify-content: center;
  gap: 100px;
}

.gameboy {
  width: 175px;
  height: 225px;
  border: 2px solid white;
  border-radius: 7px;
}

.gameboy-info {
  display: flex;
  flex-direction: column;
  width: 350px;
  text-align: start;
  padding-left: 75px;
  flex-shrink: none;
}

.info-header {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0;
}

.info-para, .info-button {
  margin: 0;
  color: #e5e7eb;
  font-size: 18px;
}

.info-button {
  background-color: #3882f6;
  padding: 5px 30px 5px 30px;
  border: none;
  align-self: flex-start;
  margin-top: 10px;
  border-radius: 7px;
}

.info-title {
  padding: 10px;
  font-weight: bolder;
  font-size: 36px;
  color: #1F2937;
}

.section2-main {
  margin: 0 60px 100px 60px;
}

.container.section2 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.info-img {
  height: 130px;
  width: auto;
  border: 3px solid #1B5DE3;
  border-radius: 30px;
}

.img-text {
  width: 200px;
}

.container-main {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.text-quote {
  width: 850px;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.sign-text {
  font-size: 24px;
  color: #1f2937;
  margin: 0;
  font-weight: bolder;
}

.main.section4 {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.container.section4 {
  display: flex;
  width: 1000px;
  height: 135px;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
}

.header-section4 {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: -10px;
}

.text-section4 {
  text-align: left;
  color: #f9faf8;
}

.button-section4 {
  background-color: inherit;
  border: 2px solid #f9faf8;
  border-radius: 7px;
  padding: 5px 30px 5px 30px;
  color: #f9faf8;
}