body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Fira Sans", "Oswald", "Akshar";
}

button {
  border:none;
}

.header, .footer {
  background-color: #1F2937;
  color: white;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
}

.header.logo {
  font-size: 16px;
  font-weight: bolder;
}

.header-links, .header-links a {
  list-style: none;
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 14px;
  gap: 8px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 2.5rem;
}

.container.section1 {
  display: flex;
  background-color: #1F2937;
  padding: 80px;
}

.gameboy {
  width: 175px;
  height: 225px;
}

.gameboy-info {
  display: flex;
  flex-direction: column;
  width: 350px;
  text-align: start;
}

.info-header {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 0;
}

.info-para, .info-button {
  margin: 0;
  color: #e5e7eb;
  font-size: 18px;
}

.info-button {
  background-color: #3882f6;
  padding: 5px 15px 5px 15px;
}

.container.section1 button {
  align-self: flex-start;
}


.container.section2 {
  display: flex;
}